body {
    background: url("../images/battleField.jpg") no-repeat center center fixed;
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
}

.clear {
    clear: both;
}

#container {
    margin: 0;
    padding-top: 100px;
}

.gameTitle {
    text-align: center;
    
}

h1, h2, h3 {
    font-family: 'Cormorant', serif;
    
}

.gameContent {
    margin-left: 22%;
    margin-right: 22%;
    width: 66%;
    padding: 0;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 5px;
}

.redGoku {
    /* border: 2px solid red; */
    float: left;
}

.greenVegeta {
    /* border: 2px solid green; */
    float: left;
}

.blueTrunks {
    /* border: 2px solid green; */
    float: left;
}

.yellowFrieza {
    /* border: 2px solid yellow; */
    float: left;
}

button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 25px;
    margin-top: 10px;
}